@charset "utf-8";
html {
	-overflow-y: scroll
}

body {
	color: #333;
	background: #fff;
	font-size: 12px;
	line-height: 1.666
}

body,
input,
textarea {
	font-family: "Microsoft Yahei", simhei, verdana
}

article,
aside,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
table,
td,
th,
ul {
	margin: 0;
	padding: 0
}

fieldset,
img,
table,
td,
th {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
i,
ins,
mark,
meter,
output,
th,
time,
var {
	font-style: normal;
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-size: 100%;
	font-weight: 400
}

button,
input,
select,
table,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%
}

abbr,
acronym {
	border: 0;
	font-variant: normal
}

q:after,
q:before {
	content: ""
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th {
	text-align: left
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block
}

a {
	color: #39f;
	text-decoration: none;
	outline: 0
}

img {
	display: block
}

html {
	overflow: hidden
}

.g-wrap {
	width: 1024px;
	height: 100%;
	position: relative;
	margin: auto;
}

.section {
	position: relative
}

a:hover {
	text-decoration: none
}

.g {
	*zoom: 1
}

.g-clear:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both
}

.g-top {
	position: absolute;
	left: 0;
	top: -10px;
	width: 100%;
	height: 10px;
	background: rgba(0, 0, 0, .3);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	z-index: 1000;
	_font-size: 0
}

#wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, .06, .15, .97);
	transition: transform 1s cubic-bezier(0.86, .06, .15, .97);
	-webkit-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0)
}

.g-part {
	position: fixed;
	_position: absolute;
	width: 460px;
	left: 50%;
	top: 50%;
	z-index: 1000;
	margin-left: 52px;
	margin-top: -200px;
	_top: 450px
}

.g-part-bottom {
	margin-top: 65px
}



.g-part-wrap {
	height: 137px;
	position: relative
}

.g-part-qr {
	width: 135px;
	height: 157px;
	float: left;
	margin-right: 30px;
	background: url(../img/p1-finger.png) center top no-repeat;
	border: 2px solid rgba(4, 0, 0, .4);
	background-color: rgba(255, 40, 70, .4);
	z-index: 100
}


.g-part-title {
	font-weight: 700;
	font-size: 55px;
	color: #fff;
	line-height: 1.5em;
	position: absolute;
	right: 100px;
	top: -50px;
	white-space: nowrap;
	display: none
}

.g-part-title3,
.g-part-title4,
.g-part-title5 {
	color: #000
}

.g-part-title em {
	font-size: 93px;
	font-style: italic;
	vertical-align: -6px
}

.g-part-title-c {
	font-weight: 400
}


.title {
	background-position: 0 -570px;
	width: 292px;
	height: 22px
}


.s1-zs {
	position: absolute;
	left: 500px;
	top: 70px;
	background:url(../img/p1-puduogold.png) center top no-repeat;
	width: 216px;
	height: 213px;
	transition-duration: 3s; 
	opacity: 0;
	-webkit-transition: all 3s cubic-bezier(0.61, .04, 0, .96);
	transition: all 3s cubic-bezier(0.61, .04, 0, .96);
	-webkit-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0)
}

.s1-kh{
	position: absolute;
	left: -100px;
	top: 700px;
	background:url(../img/p1-puduosilver.png) center top no-repeat;
	width: 216px;
	height: 213px;
	transition-duration: 3s; 
	opacity: 0;
	-webkit-transition: all 3s cubic-bezier(0.61, .04, 0, .96);
	transition: all 3s cubic-bezier(0.61, .04, 0, .96);
	-webkit-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0)
}


.s1-finger{
	position: absolute;
	left: 270px;
	top: 636px;
	background:url(../img/p1-finger.png) center top no-repeat;
	width: 317px;
	height: 371px;
	transition-duration: 3s; 
	opacity: 1;
	-webkit-transition: all 3s cubic-bezier(0.25, .04, 0.75, .96);
	transition: all 3s cubic-bezier(0.25, .04, 0.75, .96);
	-webkit-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0)
}



.g-part-des1,
.g-part-des2,
.g-part-des3,
.g-part-des4,
.g-part-des5 {
	height: 35px;
	position: absolute;
	left: 0;
	top: 97px;
	display: none
}

.g-part-des1 {
	background-position: 0 -30px;
	width: 351px;
	display: block
}

.g-part-des2 {
	background-position: 0 -813px;
	width: 350px
}

.g-part-des3 {
	background-position: 0 -70px;
	width: 350px
}

.g-part-des4 {
	background-position: 0 -115px;
	width: 288px
}

.g-part-des5 {
	background-position: 0 -165px;
	width: 287px
}

.s1-top {
	background-position: -270px 0;
	width: 78px;
	height: 27px;
	position: absolute;
	top: -25px;
	display: none
}


.android,
.iphone {
	vertical-align: middle;
	width: 22px;
	height: 27px
}

.g-part-icon1 .iphone {
	background-position: 0 0
}

.g-part-icon1 .android {
	background-position: -22px 0
}

.g-part-icon2 .iphone {
	background-position: -44px 0
}

.g-part-icon2 .android {
	background-position: -66px 0
}

.g-part-icon3 .iphone {
	background-position: -88px 0
}

.g-part-icon3 .android {
	background-position: -110px 0
}

.g-part-icon {
	height: 53px;
	overflow: hidden
}


.head {
	height: 80px;
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 1000000;
}

.head-wrap {
	height: 80px;
	margin-top: 0px;
	
}

.h-cr {
	position: absolute;
	width: 173px;
	height: 80px;
	left: 300px;
	background: url(../img/puduo.png) center top no-repeat;
}

.h-line {
	position: absolute;
	width: 23px;
	height: 80px;
	top: 0;
	left: 480px;
	background: url(../img/p1-line.png) center top no-repeat;
}

.subtitle {
	background:url(../img/supermarket.png) center top no-repeat;
	width: 215px;
	height: 80px;
	position: absolute;
	top: 0;
	right: 300px;
	/*margin-right: 140px*/
}


.s1 {
	height: 813px;
	background: url(../img/p1-bg.jpg) center top no-repeat;
	background-size: cover;
	position: fixed;
	_position: absolute;
	top: 0;
	width: 100%
}

.s1-phone {
	position: absolute;
	left: 0;
	top: 185px
}

.s2 {
	height: 775px;
	background: url(../img/p2-bg.jpg) center top no-repeat;
	margin-top: 813px
}

.s2Yg {
	-webkit-transition: all 1.5s cubic-bezier(0.45, .32, .49, .78);
	transition: all 1.5s cubic-bezier(0.45, .32, .49, .78);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0)
}

.s2Card {
	background: url(../img/p2-gold-card.png) center top no-repeat;
	background-size: cover;
	width: 200px;
	height: 125px;
	position: absolute;
	bottom: 138px;
	left: 52px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s
}

.s2Car {
	background: url(../img/p2-car.png) center top no-repeat;
	background-size: cover;
	width: 261px;
	height: 136px;
	position: absolute;
	top: -138px;
	left: 552px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s
}

.s2Phone{
	display: inline-block;
	background: url(../img/p2-phone-two.png) center top no-repeat;
	background-size: cover;
	width: 111px;
	height: 128px;
	position: absolute;
	top: -138px;
	left: -52px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	z-index: 3;
}

.s2Ipad{
	display: inline-block;
	background: url(../img/p2-pc.png) center top no-repeat;
	background-size: cover;
	width: 161px;
	height: 98px;
	position: absolute;
	top: -138px;
	left: -152px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s,;
	z-index: 2;
}

.s2-pc{
	display: inline-block;
	background: url(../img/p2-per.png) center top no-repeat;
	background-size: cover;
	width: 192px;
	height: 130px;
	position: absolute;
	top: -158px;
	left: -172px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s
}

.s2-camera{
	display: inline-block;
	background: url(../img/p2-takepic.png) center top no-repeat;
	background-size: cover;
	width: 75px;
	height: 84px;
	position: absolute;
	top: -148px;
	left: -202px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	z-index: 9;
}


.s2-phone{
	position: absolute;
	left: 0;
	bottom: 0;
}


.s3 {
	height: 787px;
	background: url(../img/p3-bg.jpg) center top no-repeat;
}


.s3-phone{
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/p3-phone1.png) center top no-repeat;
	width: 315px;
	height: 620px;
}

.s3-finger{
	position: absolute;
	left: 380px;
	top: 500px;
	background: url(../img/p3-finger.png) center top no-repeat;
	width: 401px;
	height: 610px;
}

.s4 {
	height: 800px;
	background: url(../img/p4-bg.jpg) center top no-repeat;
}

.s4-phone{
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/p4-phone.png) center top no-repeat;
	width: 327px;
	height: 642px;
}

.s4B-hat{
	position: absolute;
	left: 135px;
	top: 284px;
	background: url(../img/p4-hat.png) center top no-repeat;
	width: 85px;
	height: 59px;																	
}
@-webkit-keyframes mov {
				0% {
					-webkit-transform:rotate(-10deg);
				}
				50% {
					-webkit-transform:rotate(10deg);
				}
				100% {
					-webkit-transform:rotate(-10deg);
				}
			}

.s4B-stars-y{
	position: absolute;
	left: -15px;
	top: 194px;
	background: url(../img/p4-point-yellow.png) center top no-repeat;
	width: 425px;
	height: 183px;	
}

@-webkit-keyframes yellow {
				0% {
					left: 50px;
				}
				50% {
					left: -10px;;
				}
				100% {
					left: 50px;;
			}
           }
.s4B-stars-b{
	position: absolute;
	left: 0px;
	top: 200px;
	background: url(../img/p4-point-blue.png) center top no-repeat;
	width: 326px;
	height: 164px;	
}

@-webkit-keyframes blue {
				0% {
					left: -20px;
				}
				50% {
					left: 10px;;
				}
				100% {
					left: -20px;;
			}
		}
.s4B-stars-r{
	position: absolute;
	left: 25px;
	top: 194px;
	background: url(../img/p4-point-red.png) center top no-repeat;
	width: 185px;
	height: 200px;	
}

@-webkit-keyframes red {
				0% {
					left: -10px;
					top: 10px;
				}
				50% {
					left: 150px;
					top: 0px;
				}
				100% {
					left: -10px;
					top: 10px;
			}
        }










/*丢弃的css*/
/*
.g-part-bottom {
	margin-top: 65px
}

.g-part-bottom-des {
	font-size: 21px;
	color: #fff
}

.g-part-bottom-right {
	float: left;
	margin-top: 15px
}

.g-part-input {
	width: 284px;
	height: 53px;
	line-height: 53px;
	border: 1px solid #909eaa;
	border-radius: 7px;
	background: rgba(255, 255, 255, .7);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF, endColorstr=#B2FFFFFF);
	margin: 10px 0 15px
}

.g-part-input input {
	margin-left: 15px;
	width: 180px;
	border: none;
	font-size: 21px;
	color: #666;
	background: url(repeat.png);
	vertical-align: middle;
	_margin-top: 10px
}

.g-part-input input:focus {
	border: none;
	outline: 0
}

.g-part-submit {
	width: 63px;
	line-height: 44px;
	height: 44px;
	border-radius: 7px;
	font-size: 16px;
	color: #fff;
	background: #dd3555;
	text-align: center;
	float: right;
	margin: 5px 10px 0 0
}

.g-part-iphone {
	color: #face57;
	font-size: 13px;
	vertical-align: bottom;
	margin-left: 8px;
	margin-right: 30px
}

.g-part-android {
	color: #91cd2f;
	font-size: 13px;
	vertical-align: bottom;
	margin-left: 3px
}

.g-part-icon2 .g-part-android,
.g-part-icon2 .g-part-iphone {
	color: #fff
}

.g-part-icon3 .g-part-android,
.g-part-icon3 .g-part-iphone {
	color: #666
}*/
